/* GLOBAL STYLES */
/* Padding below the footer and lighter body text -------------------------------------------------- */
:root{
    --height: 700px;
}
   
body {
    overflow-x: hidden;
}

.text-description {
    text-indent: 2.3em;
    text-align: justify;
}

hr {
    border-top:1px solid white !important;
}

/* CUSTOMIZE THE NAVBAR -------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar {
    background:#FFF;
}

/* CUSTOMIZE THE CAROUSEL -------------------------------------------------- */
/* Carousel base class */

.carousel {
    height: var(--height);
    margin-bottom: 60px;
}

.carousel-caption {
    z-index: 10; /* Since positioning the image, we need to help out the caption */
}

/* Declare heights because of positioning of img element */

.carousel .item {
    height: var(--height);
    background-color: #777;
    position: relative;
}

.carousel-inner > .item > img {
    object-fit: cover;
    top: 0;
    left: 0;
    min-width: 100%;
    height: var(--height);
}

/* MARKETING CONTENT -------------------------------------------------- */
/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes ------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

footer{
    background-color:#002e57;
    height: 400px;
    padding: 20px 0;
    color:#FFF;
}